/*
* File: buttons.scss
* Description: Button styles
*/

@mixin button-bg($bg) {
   background: $bg;
   &:hover {
      background:darken($bg,8%);
      text-decoration: none;
      transition: all 0.3s ease;
   }
   &:active {
      background:darken($bg,25%);
   }
}
  
.btn {
   border-radius: 5px;
   color:$white;
   font-weight: 500;
   font-size: 18px;
   padding:10px;
   text-align: center;
   text-decoration:none;
   
   &.column2 {
      width: 47%;
   }
   &.right {
      margin-left: auto;
   }

   &.btn-primary {
      @include button-bg($primary);
   }
     
   &.btn-secondary {
      @include button-bg($secondary);
   }
     
   &.btn-orange {
      @include button-bg($orange);
   }

   &.btn-yellow {
      background: rgba(0, 0 , 0 , 0.6);
      border-radius: 0;
      border: solid 1px $yellow;
      color: $yellow;
      font-weight: 300;
   }
   
   &.btn-white {
      background: $white;
      color: $pdp-white-btn;
      -webkit-box-shadow: -1px 2px 5px 1px rgba(180, 180, 180, 0.35);
      -moz-box-shadow: -1px 2px 5px 1px rgba(180, 180, 180, 0.35);
      box-shadow: -1px 2px 5px 1px rgba(180, 180, 180, 0.35);
      &.active {
         border: solid 2px $blue;
         color: $blue;
         font-weight: 700;
      }
   }
}