.gfg-input {
    display: flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .checkmark {
        bottom: 0;
        height: 24px;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
      }

      &.input-radio {
        .checkmark {
          background: url('../../../assets/images/Grey2_tik.svg') no-repeat;
        }
      }

      &.input-checkbox {
        .checkmark {
          left: 0;
          right: inherit;
          background: url('content/dam/venia/images/Untik.svg') no-repeat;
        }
      }

    input {
        &[type="radio"],
        &[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
        &[type="radio"] {
            &:checked {
                ~ .checkmark {
                    background: url('content/dam/venia/images/Green_tik.svg') no-repeat;
                  }
            }
        }
        &[type="checkbox"] {
          &:checked {
              ~ .checkmark {
                  background: url('content/dam/venia/images/Orenge_tik.svg') no-repeat;
                }
          }
      }
      }
  } 

  select {
    padding: 15px;
    width: 100%;
    background: #fff;
  }
  .select-state {
    margin: 15px 0;
  }
  .surve3 {
    margin-top:15px;
  }
   li.progress-container {
    visibility: hidden;
  }

  ul li.progress-container {
    visibility: visible;
  }
.survey-right, .survey-left {
  padding-right: 40px;
}

.header__secondaryActions {
  grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.cmp-AccountContainer__accountTrigger__label {
  font-size: 0;
}
.p-survey {
  margin-top: 40px;
}
.surveypage .cmp-experiencefragment--footer {display: none;}
.cmp-AccountContainer__accountDropdown__root {
  left: 0;
  right:0;
  transform: inherit;
}