.carousel {
  &.home {
    padding-left: 20px;
    margin: 20px 0;
    p {
      font-weight: 500;
      margin-bottom: 5px;
    }
    .slick-slide {
      .carousel {
        padding-right: 4px;
      }
    }
  }
  position: relative;
    &-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0 , 0 , 0.6);
        padding: 10px;
    }
    &-text {
      color: white;
      white-space: nowrap;
    }
    &.pdp {
      margin-top: -11px;
    }
}