.filters {
    position: fixed;
    z-index: 2;
    height: 100vh;
    background: $white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    top: 0;
    margin: 0 -15px;
    &-headers {
        display: flex;
        width: 100%;
        padding: 20px;
        background: $sticky-header-blue;
        .clear-all {
            margin-left: auto;
        }
    }
    &-container {
        display: flex;
        width: 100%;
        padding: 20px 0 0;
    }
    &-items {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0;
        position: absolute;
        height: 100vh;background: $star-gray;
        li {
            width: 50%;
            
            a {
                padding: 20px;
                display: flex;
                position: relative;
                &:before {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 80%;
                    border-bottom: solid #B4B4B4 1px;
                    margin: auto;
                    right: 0;
                }
            }
            
            &:last-child {
                a {
                    &:before {
                        display: none;
                    }
                }
            }
            
            .filter-value {
                right: 0;
                display: none;
                top: 0;
                width: 50%;
                position: absolute;
                background: $white;
                height: 100vh;
                
                ul {
                    padding: 0;
                    background: $white;
                    li {
                        width: 100%;
                        background: $white;
                        padding-left: 7px;
                        label {
                            padding: 22px 10px 22px 30px;
                            color: $plp-gray;
                            font-size: 15px;
                        }
                        a {
                            padding: 15px 10px 15px 20px;
                           &:before {
                               display: none;
                           }
                        }
                    }
                }
            }
            &:first-child {
                .filter-value {
                    display: block;
                }
            }
        }
    }
}