.product-selector {
    margin-top: 20px;
    padding: $site-padding;
    &--link {
        background: $light-gray1;
        border-radius: 3px;
        color: $dark-gray1;
        display: flex;
        font-weight: 500;
        padding: 20px;
        justify-content: center;
        &:after {
            background: url('content/dam/venia/images/Lft_arw_y.svg') no-repeat;
            height: 42px;
            left: inherit;
            right: 15px;
            top: 10px;
            width: 42px;
        }
    }
}
.categories {
    margin-top: 30px;
    padding: $site-padding;

    &-container {
        width: 100%;
    }

    &-card {
        background: $light-gray1;
        border-radius: 3px;
        color: $dark-gray1;
        display: flex;
        margin-bottom: 10px;
        max-height: 105px;
    }
    &-name,
    &-img {
        display: flex;
        flex-basis: 45%;
    }
    &-name {
        @include font-rem(24px, 24px);
        align-items: center;
        padding-left: 20px;
        font-weight: 300;
        &.reverse {
            order: 2;
            justify-content: flex-end;
        }
    }
    &-img {
        justify-content: flex-end;
        margin-left: auto;
        &.reverse {
            margin-left: inherit;
            order: 1;
            justify-content: flex-start;
        }
    }
}

.search-dealer {
    padding: 16px 0 50px;
    input {
        padding: 8px 15px;
        width: 100%;
    }
}
.goto-dealer {
    color: #FFF700;
    text-align: right;
    font-weight: 500;
    padding-right: 60px;
    &:after {
        color: $dark-gray1;
        background: #FFF700;
        width: 40px;
        height: 40px;
        top: -7px;
        content: '\203A';
        border-radius: 50%;
        left: inherit;
        right: 0;
        font-size: 37px;
        line-height: 36px;
        text-align: center;
    }
}
.cmp-container main.container, .categories.aem-GridColumn {
    padding: 0;
}