.p-pdp {
    background: #F1F1F1;
    min-height: 100vh;
    padding: 30px 20px 120px;
    &-gallery {
        display: flex;
    }
    .card {
        margin-bottom: 15px;
    }

    &-slidercard{
        padding: 20px;
        background: #F1F1F1;

        img{
            
            height: 250px;
        }
    }
    &-details {
        color: $price-gray;
        font-weight: 500;
        .name {
            font-weight: 700;
        }

        .rating {
            color: $star-gray;
            font-size: 32px;
            line-height: 29px;
            margin: 5px 0;
            .rated {
                color: $star-yellow;
            }
        }
    }
    
    .variants {
        display: flex;
        padding: 40px 0 33px;
        ul {
            display: flex;
            padding: 0;
            flex-basis: 100%;
            justify-content: space-evenly;
            li {
                span {
                    display: flex;
                }
            }
        }
        
        &-img {
            display: flex;
            border-radius: 4px;
            border: solid $variant-border 1px;
            display: flex;
            flex-direction: column;
            min-height: 67px;
            padding: 10px;
            width: 70px;
            align-items: center;
            justify-content: center
        }
        &-name {
            align-items: center;
            flex-direction: column;
            width: 70px;
            margin-top: 4px;
            color: $variant-name;
        }
    }
    &-video {
        margin: 0 -20px;
    }
    &-education {
        p {
            color: $light-gray2;
            font-weight: 400;
            @include font-rem(16px, 20px);
        }
        h3 {
            color: $price-gray;
            font-weight: 500;
            @include font-rem(16px, 20px);
        }
    }
    &-video {
        margin-bottom: 5px;
    }
    &-btns {
        display: flex;
        margin-bottom: 10px;
     }
}
.slick-list {
    height: 320px !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
   
}