*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
}
html {
  font-family: $primary-font !important;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: $primary-font !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $dark-gray1;
  text-align: left;
  background-color: $white;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

a {
    color: $dark-gray1;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  a:hover {
    color: $dark-gray1;
    text-decoration: none;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
  }

  .gfg-container {
    width: 100%;
    padding: 0 $site-padding;
    margin-right: auto;
    margin-left: auto;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .hide {
    display: none !important;
  }
  .full-width {
    width: 100%;
  }
  ul {
    padding-left: 0;
  }