/*
* File: variable.scss
* Description: Declaring all the varialbes
*/

//GFG Variables

//Colors
$black: #000;
$white: #fff;
$primary: #07c489;
$secondary: #6d6d6d;
$dark-gray1: #272727;
$light-gray1: #F7F7F7;
$light-gray2: #A2A2A2;
$progress-text-gray: #9A9A9A;
$progress-border-gray: #D1D1D1;
$progress-step-gray: #8A8A8A;
$footer-gray: #343434;
$footer-arrow-gray: #818181;
$blue: #0086FB;
$orange: #F26323;
$sticky-header-blue: #DCF1FF;
$question-gray: #6A6A6A;
$question-gray1: #7D7D7D;
$price-gray: #313131;
$star-yellow: #FFDF84;
$star-gray: #F0F0F0;
$filter-border-gray: #B4B4B4;

//Units
$base-font-size: 16px;
$site-padding: 0 15px;


//Common Properties
$primary-font: 'Roboto', sans-serif;