/*
* File: variable.scss
* Description: Declaring all the varialbes
*/

//GFG Variables

//Colors
$black: #000;
$white: #fff;
$primary: #07c489;
$secondary: #6d6d6d;
$steps-body-bg: #F1F1F1;
$bg-gray:#eaeaea;
$dark-gray1: #272727;
$dark-gray2: #242424;
$light-gray1: #F7F7F7;
$light-gray2: #A2A2A2;
$plp-gray: #373936;
$filter-border: #dcdcdc;
$progress-text-gray: #9A9A9A;
$progress-border-gray: #D1D1D1;
$progress-step-gray: #8A8A8A;
$footer-gray: #343434;
$footer-arrow-gray: #818181;
$footer-border: #4e4b4b;
$copyright: #afadad;
$footer-links: #c3c3c3;
$blue: #0086FB;
$orange: #F26323;
$sticky-header-blue: #DCF1FF;
$question-gray: #6A6A6A;
$question-gray1: #7D7D7D;
$price-gray: #313131;
$star-yellow: #FFDF84;
$star-gray: #F0F0F0;
$filter-border-gray: #B4B4B4;
$variant-border: #B7B7B7;
$variant-name: #3A3A3A;
$yellow: #fff700;
$pdp-white-btn: #7C7B7A;
//Units
$base-font-size: 16px;
$site-padding: 0 15px;
$header-padding: 20px 15px;
$footer-padding: 25px 15px 10px;

//Common Properties
$primary-font: 'Roboto', sans-serif;